/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)),
  url(https://cdn.pixabay.com/photo/2014/12/10/20/56/medical-563427_1280.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
 }