<div id="form-body">
  <h2>
    REGISTRATION
  </h2>
  <div id="main-container">
    <form [formGroup]="form">
      <label for="name"> Full Name:*</label>
      <input type="text" formControlName="name" name="name" class="input" required />
      <label for="username"> Username:*</label>
      <input type="text" formControlName="username" name="username" class="input" required />
      <label for="password">Password:*</label>
      <input type="password" formControlName="password" name="password" class="input" required />
      <label for="email">E-mail:*</label>
      <input type="email" formControlName="email" name="email" class="input"
      required />
      <div class="asdoctor">
        <input
          type="checkbox"
          formControlName="doctor"
          required
        /> <label>Register as a doctor</label>
      </div>
      <br />
      <button type="submit" (click)="onSubmit()">Submit</button>
    </form>
  </div>
  <div id="confirmation">
    <p class="confirmation">Do you already have an account?</p>
    <p class="confirmation">Click <a href="/login">here</a> to login</p>
  </div>
</div>
