<div id="main-container">
  <nav>
    <div id="greeting">Hi <span>Patient</span>!</div>
    <button>log out</button>
  </nav>
  <div id="date-time">
    <p id="">date comes here</p>
    <p id="time">time comes here</p>
  </div>

  <main>
    <div class="choose-container">
      <p>Choose this option if you would like to see which doctors you can visit and how long the waiting list is</p>
      <button [routerLink]="['/queue']">stand in queue</button>
    </div>

    <div class="check-container">
      <p>Are you already in a queue? Click here to see how long you need to wait till you visit your doctor</p>
      <button [routerLink]="['/myqueue']">check my queue</button>
    </div>
  </main>
</div>
